.container {
    text-align: center;
  }

#search {
        width: 50%;
        margin: 1rem 0px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

#results {
    list-style-type: none;
    padding: 0;
  }
  
  #results li {
    background-color: #f5f5f5;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  
  #results li span.title {
    font-weight: bold;
  }
  
  #results li span.cast {
    color: #555;
  }
  